@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 7% 25% 25% 43%;
    grid-template-rows: repeat(10, 10%);
    height: 100vh;
    width: 100%;
}

.left-menu{
    grid-column: 1/2;
    grid-row: 1/13;
    background-color: #001933;
}

.user-img{
    width: 100%;
}

.user-img a{
    text-align: center;
}

.user-img img{
    margin: 10px 15% 0 15%;
    width: 70%;
    border: transparent;
    border-radius: 50%;
}

.productes{
    grid-column: 2/3;
    grid-row: 1/13;
    background-color: #28d407;
}

.head-name{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #e8e8e8;
}

.head-name h1{
    margin-left: 10%;
}

.contact-options{
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #ffffff;
}

.addContact input{
    height: 30px;
    border: #d6d6d6 solid 2px;
    border-radius: 3px;
    box-shadow: transparent;
}

.addContact button{
    background: linear-gradient(#ab0aed, #830abc);
    height: 33px;
    border: transparent;
    border-radius: 3px;
    color: #e3e3e3;
    cursor: pointer;
}

.contacts-list{
    grid-column: 3/4;
    grid-row: 3/13;
    background-color:#fff;
    border: #d6d6d6 solid 2px;
}

.contacts-list img{
    height: 70%;
    float: left;
}

.contact-item{
    height: 50px;
    border-bottom: #d6d6d6 solid 2px;
}


.contact-item a{
    color: #000;
    text-decoration: none;
    height: 50px;
    margin: 0;
    cursor: pointer;
}

.contact-item p{
    font-size: 20px;
}

.contact-info{
    grid-column: 4/5;
    grid-row: 3/13;
    background-color: #e8e8e8;
    border: #d6d6d6 solid 2px;
    border-left: none;
}

.info{
    margin: 35px 50px 0 50px;
    background-color: #fff;
    border: #d6d6d6 solid 2px;
    height: 95%;
}

.info img{
    width: 100px;
}















.contactBook{
    margin-top: 20px;
}

#tableContact{
    border-collapse: collapse;
}

#tableSearchContact{
    border-collapse: collapse;
}

.tableHead{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.contactName{
    width: 228px;
    border: black solid 1px;
}

.contactNumber{
    width: 228px;
    border: black solid 1px;
}

.contactAddress{
    width: 584px;
    border: black solid 1px;
}

.deleteContact{
    width: 100px;
    border: black solid 1px;
    margin: 0 auto;
}

.contactSearchName{
    width: 228px;
    border: black solid 1px;
}

.contactSearchNumber{
    width: 228px;
    border: black solid 1px;
}

.contactSearchAddress{
    width: 684px;
    border: black solid 1px;
}