@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 7% 25% 25% 43%;
    grid-template-rows: repeat(10, 10%);
    height: 100vh;
    width: 100%;
}

.left-menu{
    grid-column: 1/2;
    grid-row: 1/13;
    background-color: #001933;
}

.user-img{
    width: 100%;
}

.user-img a{
    text-align: center;
}

.user-img img{
    margin: 10px 15% 0 15%;
    width: 70%;
    border: transparent;
    border-radius: 50%;
}

.products-head{
    grid-column: 2/3;
    grid-row: 1/2;
    border: #d6d6d6 solid 2px;
}

.products{
    grid-column: 2/3;
    grid-row: 2/13;
    background-color: #ffffff;
    border: #d6d6d6 solid 2px;
    border-top: transparent;
}

.head-product{
    height: 75px;
    border-bottom: #d6d6d6 solid 2px;
}

.head-name{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #e8e8e8;
    border-bottom: #d6d6d6 solid 2px;
}

.head-name h1{
    margin-left: 10%;
}

.contact-options{
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #ffffff;
    padding: 30px 15px;
}

.addContact input{
    height: 30px;
    border: #d6d6d6 solid 2px;
    border-radius: 3px;
    box-shadow: transparent;
}

.addContact button{
    background: linear-gradient(#ab0aed, #830abc);
    height: 33px;
    border: transparent;
    border-radius: 3px;
    color: #e3e3e3;
    cursor: pointer;
}

#file{
    display: block;
    width: 0.1px;
    height: 0.1px;
    font-size: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    float: left;
}

#file + label{
    font-size: 14px;
    border: #d6d6d6 solid 2px;
    padding: 6px 3px 7px 3px;
    height: 30px;
    border-radius: 3px;
    color: #787878;
    background-color: #ffffff;
    cursor: pointer;
}

.contacts-list{
    grid-column: 3/4;
    grid-row: 3/13;
    background-color:#fff;
    border-top: #d6d6d6 solid 2px;
    border-right: #d6d6d6 solid 2px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-item{
    height: 50px;
    border-bottom: #d6d6d6 solid 2px;
}

.contact-item img{
    margin: 3px 10px;
    display: inline-block;
    height: 90%;
    width: 45px;
    float: left;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(92,92,92,1);
}

.contact-item a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contact-item p{
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}

.contact-info{
    grid-column: 4/5;
    grid-row: 3/13;
    background-color: #e8e8e8;
    border: #d6d6d6 solid 2px;
    border-left: none;
}

.info{
    margin: 35px 50px 0 50px;
    background-color: #fff;
    border: #d6d6d6 solid 2px;
    height: 95%;
}

.info img{
    margin: 100px 43%;
    border-bottom: #d6d6d6 solid 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 25px 1px rgba(92,92,92,1);
}

.info h3{
    text-align: center;
}

.info p{
    text-align: center;
}

#deleteButton{
    background: linear-gradient(#ed3147, #832124);
    border: transparent;
    border-radius: 3px;
    font-size: 25px;
    cursor: pointer;
    color: #e3e3e3;
    margin: 50px 43% ;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}
