<div ng-controller="departmentCtrl">
    <h2>Добавить отдел</h2>
    <div  layout="row" layout-align="center center">
        <md-card-content>
            <div layout="row">
                <md-input-container>
                    <label>Название отдела</label>
                    <input ng-model="departmentName">
                </md-input-container>

                <md-input-container>
                    <label>Оклад в отделе</label>
                    <input ng-model="departmentSalary">
                </md-input-container>

                <md-input-container style="width: 150px">
                    <label>Тип отдела</label>
                    <md-select ng-model="departmentType" >
                        <md-option ng-repeat="type in departmentsTypes" ng-value=type>{{type}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised md-primary" ng-click="addDepartment()">Создать</md-button>
                </md-input-container>
            </div>
        </md-card-content>
    </div>
    <h2>Список отделов</h2>
    <div ng-repeat="department in departments">
        <md-card md-theme="default" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{department.name}}</span>
                    <span class="md-subhead">Оклад: {{department.salary}} ₽</span>
                    <span class="md-subhead">Тип: {{department.type}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="deleteDepartment(department.name)">Удалить отдел</md-button>
            </md-card-actions>
        </md-card>

    </div>
</div>