<h2>Зарегестрировать сотрудника</h2>
<div ng-controller="registrationCtrl" layout="row" layout-align="center center">
    <md-input-container>
        <label>Имя</label>
        <input ng-model="name">
    </md-input-container>
    <md-input-container>
        <label>Логин</label>
        <input ng-model="login">
    </md-input-container>
    <md-input-container>
        <label>Пароль</label>
        <input ng-model="password">
    </md-input-container>
    <md-input-container>
        <md-button class="md-raised md-primary" ng-click="registration()">Зарегестрировать</md-button>
    </md-input-container>
</div>
