<md-card>
    <md-card-title layout="row" layout-align="center none">
        <md-input-container>
            <label>Название отдела</label>
            <input required ng-model="$ctrl.departmentName">
            <div ng-messages="error" >
                <span class="errorMessage" ng-show="$ctrl.inputError">Заполните все поля!</span>
                <span class="errorMessage" ng-show="$ctrl.departmentNameBusyError[0]">Название департамента занято!</span>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Оклад в отделе</label>
            <input required type="number" ng-model="$ctrl.departmentSalary">
        </md-input-container>
        <md-input-container style="width: 150px">
            <label>Тип отдела</label>
            <md-select required ng-model="$ctrl.departmentType" >
                <md-option ng-repeat="type in $ctrl.departmentsTypes" ng-value=type>{{type}}</md-option>
            </md-select>
        </md-input-container>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="$ctrl.addDepartment()">Создать</md-button>
        </md-input-container>
    </md-card-actions>
</md-card>