<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.department.name}}</span>
            <span class="md-subhead">Оклад: {{$ctrl.department.salary}} ₽</span>
            <span class="md-subhead">Тип: {{$ctrl.department.type}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-warn" ng-click="$ctrl.deleteDepartment($ctrl.department.name)">Удалить отдел</md-button>
    </md-card-actions>
</md-card>