<md-card>
    <md-card-title layout="row" layout-align="center center">
        <md-input-container>
            <label>Логин</label>
            <input ng-model="$ctrl.userLogin">
        </md-input-container>
        <md-input-container>
            <label>Пароль</label>
            <input ng-model="$ctrl.userPassword">
        </md-input-container>

    </md-card-title>
    <md-card-action layout="row" layout-align="end center">
        <md-input-container>
            <md-button ng-click="$ctrl.login()" class="md-raised md-primary">Войти</md-button>
        </md-input-container>
    </md-card-action>
</md-card>